Source: yoyo-cursor-themes
Section: kde
Priority: optional
Maintainer: Reion Wong <reion@yoyoos.com>
Build-Depends:
Standards-Version: 3.9.6
Homepage: https://yoyoos.com
Vcs-Git: https://github.com/yoyoos

Package: yoyo-cursor-themes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: YoyoOS Cursor Theme
